<%- include("header") -%>
<h1><%= listTitle %></h1>
<div class="list-container"> 
    <ul class="list" > 
    <% newListItems.forEach((item)=>{ %>
       <% if(item === ""){ %>
           <% return%>
       <% }else{ %>
        <div class="li-item">
        <input type="checkbox">
        <li> <%= item.name %> </li> 
        </div>
        <%}%>
    <%})%>
    </ul>
</div>
    <form action="/" method="post">
    <div class="form">
        <input type="text" name="newItem"  placeholder="Make a note...">
        <button type="submit" class="btn" name="list" value=<%= listTitle %>>Save</button>
        </div>
    </form>

    <%- include("footer") -%>